Repository denchiklut/ssr-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --fix

rm console.log
  webpack/configs/client.config.ts
Due: eslint --cache --fix, prettier --write

small fix for server cache
  src/server/middleware/hot/index.ts
Due: eslint --cache --fix, prettier --write

move cache reset to render middleware
  package.json
  src/server/middleware/hot/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
Due: eslint --cache --fix, prettier --write

clean package.json
  package.json
Due: prettier --write

update to use inMemory cache
  @types/app/index.d.ts
  package.json
  src/server/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/render/index.tsx
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/plugins/index.ts
  webpack/plugins/limit.plugin.ts
  webpack/plugins/loadable.plugin.ts
Due: eslint --cache --fix, prettier --write

update to use inMemory cache
  index.js
  package.json
  scripts/dev.ts
  scripts/spa.ts
  scripts/start.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.types.ts
  src/server/middleware/render/render.util.ts
  webpack.config.ts
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
Due: eslint --cache --fix, prettier --write

update to use inMemory cache
  index.js
Due: none

update to use inMemory cache
  package.json
Due: prettier --write

update to use inMemory cache
  package.json
  webpack/rules/common.ts
Due: eslint --cache --fix, prettier --write

update to use inMemory cache (#4)
  @types/app/index.d.ts
  package.json
  scripts/dev.ts
  scripts/spa.ts
  scripts/start.ts
  src/server/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.types.ts
  src/server/middleware/render/render.util.ts
  webpack.config.ts
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/plugins/index.ts
  webpack/plugins/limit.plugin.ts
  webpack/plugins/loadable.plugin.ts
  webpack/rules/common.ts
Due: eslint --cache --fix, prettier --write

fix title
  src/server/middleware/render/render.util.ts
Due: eslint --cache --fix, prettier --write

cleanup
  src/server/middleware/hot/index.ts
  src/server/middleware/render/render.types.ts
Due: eslint --cache --fix, prettier --write

setup sourcemaps
  src/server/middleware/render/render.util.ts
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/configs/spa.config.ts
Due: eslint --cache --fix, prettier --write

setup polyfills
  .babelrc
  .browserslist
  @types/app/index.d.ts
  package.json
  src/client/components/home/styles.scss
  src/client/styles/mixins.scss
Due: eslint --cache --fix, prettier --write, stylelint --fix

fix prettier for windows
  .prettierrc
  package.json
Due: prettier --write

fix .browserslistrc
  .browserslist
  .browserslistrc
Due: none

reformat code
  .babelrc
  .editorconfig
  .prettierrc
  .stylelintrc
  @types/app/index.d.ts
  @types/files/index.d.ts
  config/postcss/postcss.js
  config/spec/setup.ts
  package.json
  src/client/assets/index.html
  src/client/components/@shared/app/index.tsx
  src/client/components/about/index.tsx
  src/client/components/home/home.spec.tsx
  src/client/components/home/index.tsx
  src/client/components/home/styles.scss
  src/client/index.tsx
  src/client/pages/about/index.tsx
  src/client/pages/home/index.tsx
  src/server/controller/render/index.ts
  src/server/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  src/server/router/app.ts
  src/server/router/static.ts
  webpack/plugins/paths.plugin.ts
  webpack/rules/styles.ts
Due: eslint --cache --fix, prettier --write, stylelint --fix

add .DS_Store to gitignore
  .babelrc
  .editorconfig
  .eslintrc
  .eslintrc.js
  .gitignore
  .nvmrc
  .prettierrc
  config/services/index.ts
  package.json
  src/client/assets/index.html
  webpack/plugins/define.plugin.ts
Due: eslint --cache --fix, prettier --write

feat: cleanup - reformat code
  .babelrc
  .editorconfig
  .eslintrc
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  config/postcss/postcss.js
  jest.config.js
  package.json
  src/client/components/about/abput.spec.tsx
  src/client/components/about/index.tsx
  src/server/tsconfig.json
  tsconfig.json
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/configs/spa.config.ts
  webpack/plugins/html.plugin.ts
  webpack/plugins/miniCssExtract.plugin.ts
  webpack/rules/common.ts
  webpack/rules/loaders.ts
  webpack/rules/styles.ts
  webpack/rules/svg.ts
  webpack/utils/devServer.ts
  webpack/utils/optimization.ts
Due: eslint --cache --fix, prettier --write

feat: cleanup (#5)
  .babelrc
  .editorconfig
  .eslintrc
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  config/postcss/postcss.js
  jest.config.js
  package.json
  src/client/components/about/abput.spec.tsx
  src/client/components/about/index.tsx
  src/server/tsconfig.json
  tsconfig.json
  webpack/configs/client.config.ts
  webpack/configs/server.config.ts
  webpack/configs/spa.config.ts
  webpack/plugins/html.plugin.ts
  webpack/plugins/miniCssExtract.plugin.ts
  webpack/rules/common.ts
  webpack/rules/loaders.ts
  webpack/rules/styles.ts
  webpack/rules/svg.ts
  webpack/utils/devServer.ts
  webpack/utils/optimization.ts
Due: eslint --cache --fix, prettier --write

feat: jenkins - add Jenkinsfile
  Jenkinsfile
  src/client/components/about/index.tsx
  webpack/configs/spa.config.ts
Due: eslint --cache --fix, prettier --write

feat: jenkins - add Jenkinsfile
  Jenkinsfile
Due: none

feat: server - build server with webpack - fix global vars - fix aliases
  package.json
  src/server/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/render/render.util.ts
  webpack.config.ts
  webpack/configs/express.config.ts
Due: eslint --cache --fix, prettier --write

feat: server (#6)
  package.json
  src/server/index.ts
  src/server/middleware/hot/index.ts
  src/server/middleware/render/render.util.ts
  webpack.config.ts
  webpack/configs/express.config.ts
Due: eslint --cache --fix, prettier --write

feat: strict mode - setup strict mode
  @types/app/index.d.ts
  @types/utils/index.d.ts
  package.json
  src/client/assets/icons/favicon.ico
  src/server/middleware/hot/index.ts
  src/server/middleware/render/render.types.ts
  src/server/middleware/render/render.util.ts
  tsconfig.json
  webpack/configs/client.config.ts
Due: eslint --cache --fix, prettier --write

feat: suspense - fix suspense - fix favicon
  package.json
  src/client/assets/icons/favicon.png
  src/client/components/@shared/app/index.tsx
  src/client/components/@shared/layout/index.tsx
  src/client/utils/index.ts
  src/client/utils/lazy.util.tsx
  src/server/index.ts
  src/server/middleware/favicon/index.ts
  src/server/middleware/index.ts
  src/server/middleware/render/render.util.ts
Due: eslint --cache --fix, prettier --write

feat: webpack - fix start
  package.json
  webpack/configs/express.config.ts
Due: eslint --cache --fix, prettier --write

fix: webpack types
  webpack/configs/client.config.ts
  webpack/configs/express.config.ts
  webpack/configs/server.config.ts
  webpack/configs/spa.config.ts
Due: eslint --cache --fix, prettier --write

fix: start
  package.json
  webpack/configs/client.config.ts
  webpack/plugins/copy.plugin.ts
  webpack/plugins/index.ts
Due: eslint --cache --fix, prettier --write

feat: update packages
  package.json
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

feat: cleanup - remove unused configs
  src/server/tsconfig.json
Due: prettier --write

feat: cleanup - ts friendly configs
  jest.config.ts
  webpack/configs/client.config.ts
  webpack/configs/express.config.ts
  webpack/configs/server.config.ts
Due: eslint --cache --fix, prettier --write

feat: cleanup - ts-check
  package.json
  webpack/configs/client.config.ts
  webpack/configs/spa.config.ts
  webpack/plugins/index.ts
  webpack/plugins/tsChecker.plugin.ts
Due: eslint --cache --fix, prettier --write

feat: cleanup - types
  src/server/middleware/render/render.util.ts
Due: eslint --cache --fix, prettier --write

feat: cleanup - types
  @types/utils/index.d.ts
  package.json
  src/server/index.ts
  src/server/middleware/hot/index.ts
  src/server/utils/bootstrap/index.ts
  src/server/utils/index.ts
  src/server/utils/logger/index.ts
  tsconfig.json
  webpack/configs/express.config.ts
  webpack/configs/server.config.ts
Due: eslint --cache --fix, prettier --write

feat: logs - add morgan
  package.json
  src/server/index.ts
  src/server/middleware/index.ts
  src/server/middleware/logger/index.ts
Due: eslint --cache --fix, prettier --write

feat: ts - fix express ts
  @types/app/index.d.ts
  @types/utils/index.d.ts
  package.json
  src/server/controller/render/index.ts
  src/server/index.ts
  src/server/middleware/render/index.tsx
  src/server/middleware/render/render.util.ts
  tsconfig.json
  webpack/configs/express.config.ts
  webpack/configs/spa.config.ts
  webpack/utils/devServer.ts
Due: eslint --cache --fix, prettier --write

feat: assets - mv assets to root
  assets/icons/192.png
  assets/icons/512.png
  assets/icons/favicon.ico
  assets/icons/maskable.png
  assets/spa/index.html
  src/server/middleware/favicon/index.ts
  src/server/middleware/render/render.util.ts
  src/server/router/static.ts
  webpack/plugins/copy.plugin.ts
  webpack/plugins/html.plugin.ts
  webpack/plugins/tsChecker.plugin.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{html,md,json})
  stylelint --fix: any of: *.{css,scss}
